@import "../../styles/mixins.sass"
@import "../../styles/variables.sass"
@import "../search/index.sass"

$resultsTop: 25px
$resultsWidth: $mainWidth
$itemHeight: 146.25px
$playerWidth: $itemHeight / 0.75
$playerHeight: $playerWidth * 0.75
$playWidth: 30px
$playHeight: 33.88px
$thumbnailHeight: 90px
$titleHeight: 25px

@value itemHeight #{$itemHeight}

// https://www.viget.com/articles/sharing-data-between-sass-and-javascript-with-json/

.results
  position: absolute
  top: $searchTop + $searchHeight + $resultsTop
  width: $resultsWidth
  border-radius: 0.5px

  ul
    position: absolute
    width: $resultsWidth
    &.list
      position: absolute
      width: $resultsWidth

      li
        position: absolute
        width: $resultsWidth
        height: $itemHeight

        .player
          position: absolute
          width: $playerWidth
          height: $playerHeight
          // border: 1px solid white
          // box-sizing: border-box

          .video
            width: $playerWidth
            height: $playerHeight

          .main-button
            position: absolute
            left: ($playerWidth / 2) - ($playWidth / 2)
            top: ($playerHeight / 2) - ($playHeight / 2)
            width: $playWidth
            height: $playHeight
            stroke: transparentize($white, 0.2)
            fill: transparentize(black, 0.4)
            cursor: pointer
            .icon
              position: absolute

          .thumbnail
            position: absolute
            width: $playerWidth

        .title
          position: absolute
          left: $playerWidth + 45px
          top: ($itemHeight - $titleHeight) / 2
          height: $titleHeight
          text-overflow: ellipsis
          white-space: nowrap
          overflow: hidden

    .separator
      position: absolute
      width: $resultsWidth
      border-bottom: 1px solid transparentize($white, 0.8)
      opacity: 0

  .y-resizer
    position: absolute
    width: $resultsWidth
    height: 8px
    border-top: 1px solid transparentize($violet, 0.5)
    user-select: none
    cursor: ns-resize
    // &.disabled
    //   border-color: transparentize($violet, 0.8)
    //   cursor: default
    // &.bottom
    //   border-bottom: 1px solid transparentize(red, 0.5)
