@import "../../styles/mixins.sass"
@import "../../styles/variables.sass"
@import "../search/index.sass"
@import "../reusable/video-player.sass"

$resultsTop: 25px
$resultsWidth: $mainWidth
$itemWidth: $resultsWidth

$smallItemHeight: 220px
$normalItemHeight: 380px

@value smallItemHeight #{$smallItemHeight}
@value normalItemHeight #{$normalItemHeight}

// https://www.viget.com/articles/sharing-data-between-sass-and-javascript-with-json/

.results
  position: absolute
  top: $searchTop + $searchHeight + $resultsTop
  width: $itemWidth
  border-radius: 0.5px

  .list
    position: absolute
    width: $itemWidth

    .item
      position: absolute
      width: $itemWidth

      .content
        position: absolute
        width: $itemWidth

        .info
          position: absolute

          .playback
            position: absolute
            stroke: transparentize($white, 0.2)
            cursor: pointer

            .icon
              position: absolute
              stroke: inherit
              fill: none

          .title
            position: absolute

          .progress

  .separators
    position: absolute
    width: $itemWidth

    .separator
      position: absolute
      width: $itemWidth
      border-bottom: 1px solid transparentize($white, 0.8)
      opacity: 0

  .y-resizer
    position: absolute
    width: $itemWidth
    height: 8px
    border-top: 1px solid transparentize($violet, 0.5)
    user-select: none
    cursor: ns-resize
    // &.disabled
    //   border-color: transparentize($violet, 0.8)
    //   cursor: default
    // &.bottom
    //   border-bottom: 1px solid transparentize(red, 0.5)

  &.small
    $itemHeight: $smallItemHeight
    $contentTop: 20px
    $contentHeight: $itemHeight - ($contentTop * 2)
    $infoHeight: $contentHeight
    $playerWidth: 195px
    $playerHeight: $contentHeight
    $loaderSize: 25px
    $loaderLeft: ($playerWidth - $loaderSize) / 2
    $loaderTop: ($playerHeight - $loaderSize) / 2
    $thumbnailHeight: 90px
    $infoPaddingLeft: 20px
    $infoLeft: $playerWidth + $infoPaddingLeft
    $infoWidth: $itemWidth - $infoLeft
    $playbackWidth: 18px
    $playbackHeight: 20.36px
    $titleTop: 27px
    $titleHeight: 20px
    $progressHeight: 1px
    $progressTop: $infoHeight - $progressHeight
    $progressTimeHeight: 20px

    .list
      .item
        height: $itemHeight

        .content
          top: $contentTop
          height: $contentHeight

          .player
            width: $playerWidth
            height: $playerHeight

            .video
              width: $playerWidth
              height: $playerHeight

            .loader
              left: $loaderLeft
              top: $loaderTop
              width: $loaderSize
              height: $loaderSize

            .thumbnail
              width: $playerWidth
              height: $playerHeight

          .info
            left: $infoLeft
            width: $infoWidth
            height: $infoHeight

            .playback
              .icon
                width: $playbackWidth
                height: $playbackHeight

            .title
              top: $titleTop
              height: $titleHeight
              line-height: $titleHeight
              font-size: 14.5px

            .progress
              top: $progressTop
              width: $infoWidth
