@import "../../styles/mixins.sass"
@import "../../styles/variables.sass"
@import "../../styles/search.sass"

$resultsTop: 25px
$resultsWidth: 1236px
$itemHeight: 55px
$titleHeight: 25px

.results
  position: absolute
  left: 150px
  top: $searchTop + $searchHeight + $resultsTop
  width: $resultsWidth
  border-radius: 0.5px

  ul
    position: absolute
    width: $resultsWidth
    &.list
      position: absolute
      width: $resultsWidth

      li
        position: absolute
        width: $resultsWidth
        height: $itemHeight
        .title
          position: absolute
          left: 10px
          top: ($itemHeight - $titleHeight) / 2
          height: $titleHeight
          color: transparentize($white, 0.1)
          text-overflow: ellipsis
          white-space: nowrap
          overflow: hidden

    .separator
      position: absolute
      width: $resultsWidth
      border-bottom: 1px solid transparentize($white, 0.8)
      opacity: 0

  .y-resizer
    position: absolute
    width: $resultsWidth
    height: 8px
    border-top: 1px solid transparentize($violet, 0.5)
    user-select: none
    cursor: ns-resize
