@import "./mixins.sass"
@import "./variables.sass"

$searchBorderWidth: 2px

.search
  border-style: solid
  border-width: 1px
  border-color: $white
  box-sizing: border-box
  +border-neon(0.5px, $violet)
  .input
    padding-left: 13px
    padding-right: 3px
    box-sizing: border-box
    font-size: 16.5px
    color: $white
    +text-neon(0.15px, fade-out($white, 0.8))
  .clear
    fill: $white
    +svg-neon(1.5px, $white)
    cursor: pointer
    transition: all 0.3s easy-in-out
    &:hover
      fill: fade-out($white, 0.3)
      +svg-neon(0.15px, $white)

::-webkit-input-placeholder
  color: fade-out($white, 0.45)
