@import "../../styles/variables.sass"

$playerWidth: 195px
$playerHeight: 110px
$loaderSize: 25px
$loaderLeft: ($playerWidth - $loaderSize) / 2
$loaderTop: ($playerHeight - $loaderSize) / 2
$thumbnailHeight: 90px

.player
  position: absolute
  // width: $playerWidth
  // height: $playerHeight
  cursor: pointer
  overflow: hidden

  .thumbnail
    position: absolute
    width: $playerWidth
    height: $playerHeight
    z-index: 1

  .loader
    left: $loaderLeft
    top: $loaderTop
    width: $loaderSize
    height: $loaderSize

  .video
    position: absolute
    width: $playerWidth
    height: $playerHeight
    overflow: hidden
    display: none
