@import "styles/normalize.sass"
@import "styles/fonts.sass"

body
  font-family: 'Roboto', sans-serif
  font-size: 15px
  color: transparentize($white, 0.1)

.scroll
  background-color: $white
  cursor: pointer
  user-select: none
