@import "./mixins.sass"
@import "./variables.sass"

.results
  padding: 1px;
  border-radius: 0.5px
  border: 1px solid $white

  ul
    &.list
      padding: 1px;
      border: 1px solid $violet

      li
        .title
          color: $white
          text-overflow: ellipsis
          white-space: nowrap
          overflow: hidden

    .separator
      border-bottom: 1px solid $white

  .scroll
    background-color: $white
    cursor: pointer
    user-select: none
