@import "./mixins.sass"
@import "./variables.sass"

.results
  flex-grow: 1
  border-radius: 0.5px
  ul
    li
      .title
        color: $white
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        // +text-neon(0.5px, fade-out($white, 0.8))
    .separator
      border-bottom: 1px solid $white
      // +border-neon(0.25px, fade-out($white, 0.8))
