@import "./mixins.sass"
@import "./variables.sass"

$searchBorderWidth: 2px

.search
  border-style: solid
  border-width: 1px
  border-color: $white
  box-sizing: border-box
  +border-neon(0.5px, $violet)
  .field
    input
      font-size: 16.5px
      color: $white
      +text-neon(0.15px, fade-out($white, 0.8))
    .text
      color: transparent
  .clear
    fill: $white
    +svg-neon(0.5px, $white)
    cursor: pointer
    transition: 0.2s
    &:hover
      fill: fade-out($white, 0.5)

::-webkit-input-placeholder
  font-size: 16.5px
  color: fade-out($white, 0.45)
