@import "../../styles/variables.sass"

$itemHeight: 146.25px
$playerWidth: 195px
$playerHeight: 110px
$playerTop: ($itemHeight - $playerHeight) / 2
$playWidth: 30px
$playHeight: 33.88px
$thumbnailHeight: 90px
$titleHeight: 25px

.player
  position: absolute
  top: $playerTop
  width: $playerWidth
  height: $playerHeight
  cursor: pointer
  overflow: hidden

  .video
    position: absolute
    width: $playerWidth
    height: $playerHeight
    overflow: hidden

  // .main-button
  //   position: absolute
  //   left: ($playerWidth / 2) - ($playWidth / 2)
  //   top: ($playerHeight / 2) - ($playHeight / 2)
  //   width: $playWidth
  //   height: $playHeight
  //   cursor: pointer

  //   .icon
  //     position: absolute

  //     &.play
  //       stroke: transparentize($white, 0.2)
  //       fill: transparentize(black, 0.4)

  //     &.pause
  //       stroke: transparentize($white, 0.2)
  //       fill: transparentize(black, 0.4)

  .thumbnail
    position: absolute
    width: $playerWidth
    height: $playerHeight

  .title
    position: absolute
    left: $playerWidth + 45px
    top: ($itemHeight - $titleHeight) / 2
    height: $titleHeight
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
