@import "../../styles/variables.sass"
@import "../main.sass"

$mainPlayerWidth: $mainWidth
$mainPlayerTop: 10px
$mainPlayerBottom: 10px
$mainPlayerHeight: 20.36px
$iconWidth: 18px
$iconHeight: $mainPlayerHeight

.main-player
  position: absolute
  top: $mainPlayerTop
  // width: $mainPlayerWidth
  height: $mainPlayerHeight

  .playback
    position: absolute
    cursor: pointer

    &::after
      $size: 35px
      content: ''
      position: absolute
      left: ($iconWidth - $size) / 2
      top: ($iconHeight - $size) / 2
      width: $size
      height: $size
      border-radius: $size / 2

    .icon
      position: absolute
      width: $iconWidth
      height: $iconHeight
      stroke: transparentize($violet, 0.2)
      fill: none

      &.hide
        display: none
