@import "../../styles/variables.sass"
@import "../main.sass"

$mainPlayerWidth: $mainWidth
$mainPlayerTop: 10px
$mainPlayerBottom: 10px
$mainPlayerHeight: 20.36px
$iconWidth: 18px
$iconHeight: $mainPlayerHeight

.main-player
  position: absolute
  top: $mainPlayerTop
  // width: $mainPlayerWidth
  height: $mainPlayerHeight

  .playback
    position: absolute
    stroke: transparentize($violet, 0.2)
    cursor: pointer

    .icon
      position: absolute
      width: $iconWidth
      height: $iconHeight
      fill: none

      &.hide
        display: none
